

html, body {
	margin: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	/* background: black; */
	/* background: linear-gradient(to bottom, #000000 0%, #5788fe 100%); */
	font-family:'Questrial','Noto Serif SC' ;
	color: #fff !important;
}
a, body {
	color: #fff !important;
}
.content {
	position: absolute;
    top: 5%;
	text-align: center; /* 文本居中对齐 */
    width: 100%;
	height: 100%;;
	z-index:9999;
}
.site-header {
	height: 160px;
}
.site-header .title{
	margin: 15px 0;
    font-size: 2.5em;
    letter-spacing: 4px;
    color: #FFF;
}
.site-header .hr{
	width: 50%;
	margin: 20px auto;
	border: none;
	border-top: 1px solid rgba(255, 255, 255, 1);
	height: 1px;
}
.site-header .discription{
    font-size: 20px;
    margin: 20px;
    background: linear-gradient(45deg, #ff00ff, #00ffff); /* 渐变色 */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* 文字颜色设置为透明 */
    animation: flicker 1.5s infinite alternate; /* 添加闪烁效果 */
}
@keyframes flicker {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
}

#canvas {
	position: fixed;
	top: 0;
	left: 0;
}

.filter {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #fe5757;
	animation: colorChange 30s ease-in-out infinite;
	animation-fill-mode: both;
	mix-blend-mode: overlay;
}

@keyframes colorChange {
	0%, 100% {
		opacity: 0;
	}
	50% {
		opacity: .9;
	}
}

.landscape {
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 100%;
	height: 100%;	
	background-image: url('../images/xkbg.png');
	background-size: 1000px 250px;
	background-repeat: repeat-x;
	background-position: center bottom;
}
.site-content {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	height: 68%;
	text-align: center;
	overflow-y: scroll;
	width: 100%;
}
@media (max-width: 768px) {
	.site-content {
		height: 58%;
	}
}
/* 特定于.content类的滚动条样式 */
.site-content::-webkit-scrollbar {
	width: 0; /* 可以设置不同的宽度 */
}
.site-content .site-content-nav {
	width: 100%;
	padding: 0 10px;
	display: flex;
	flex-wrap: wrap; /* 允许子元素换行 */
	justify-content: center; /* 水平居中 */
	align-items: center; /* 垂直居中 */
	opacity: 1;
	transform: translateY(0);
	transition: transform 0.5s ease;
}
.site-content .site-content-nav.hidden {
	transform: translateY(-100%); /* 根据需要调整偏移量 */
	opacity: 0; /* 可选：添加透明度变化以增强动画效果 */
	/* 保持display不变，不使用display: none; */
}
.site-content .site-content-nav .layui-panel {
	height: 50px;
	line-height: 50px;
	margin: 10px;
	background-color: rgba(255, 255, 255, 0.2) !important;
	border-radius: 5%;
	border: 0;
	transition: box-shadow 0.3s, transform 0.2s;
}
.site-content .site-content-nav .layui-panel:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.5) !important;
	box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0);
	transform: translateY(-5px);
}
.site-content .site-content-nav .layui-panel a:hover {
	font-weight: bold;
}
.site-footer {
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
	text-align: right; /* 文本居中对齐 */
}
.icp{
	margin: 20px;
}
.icpnum{
	color: #fff;
	text-decoration: none;
}