html, body {
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: black !important;
    background: linear-gradient(to bottom, #000000 0%, #5788fe 100%) !important;
    font-family:'Questrial','Noto Serif SC' ;
    color: #fff !important;
}
.layui-layer {
    background-color: #23292e !important;
}
.layui-tab .layui-tab-title {
    border-bottom-width: 0px;
    /* border-bottom-style: solid;*/
}
.layui-tab .layui-tab-title li:hover {
    color: #009688;
    /* border-bottom-style: solid;*/
}
.layui-tab h4 {
    padding: 20px 0 0 20px !important;
}
.layui-tab h4 i {
    margin-right: 15px !important;
}
.layui-bg-gray {
    background-color: transparent !important;
}
.main-search {
    width: 100%;
    display: grid;
    place-items: center;
}
.layui-input-wrap {
    position: relative;
}
#supplier {
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: #fff;
    border: 1px solid #ccc; /* 添加边框以提高可见性 */
    border-radius: 50px;
    padding: 9px 20px;
    height: 50px;
}
#search-icon {
    font-size: 24px; /* 根据需要调整图标大小 */
    z-index: 10; /* 确保图标在图片上方 */
    position: absolute;
    top: 10px;
    right: 15px;
    color: #6C757D;
    cursor: pointer;
}
.layui-card {
    background-color: rgba(255, 255, 255, 0.2) !important;
    border-radius: 5%;
    display: flex; /* 使用Flexbox布局 */
    align-items: flex-start; /* 垂直方向上对齐顶部 */
    justify-content: space-between; /* 水平方向上，左右两侧留出空间 */
    transition: box-shadow 0.3s, transform 0.2s;
}
.layui-card:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: translateY(-5px);
}
.layui-card-left {
    flex: 0 0 auto; /* 固定宽度，不随内容变化 */
    /* margin-right: 20px; */
    width: 30%;
    line-height: 80px; /* 行高与容器高度相同 */
    text-align: center; /* 水平居中 */
    position: relative; /* 确保.lock-icon是相对于这个元素定位 */
}
.lock-icon {
    display: none; /* 默认不显示锁图标 */
    font-size: 24px; /* 根据需要调整图标大小 */
    z-index: 10; /* 确保图标在图片上方 */
    position: absolute;
    top: -25px;
    left: 0;
    color: red;
    will-change: transform, box-shadow;
}
.tips[data-is_pass="1"] .lock-icon {
    display: block; /* 当data-is_pass属性为1时显示锁图标 */
}

.layui-card-left img {
    width: 50px; /* 图片最大宽度不超过其容器的宽度 */
    height: 50px; /* 图片最大高度不超过其容器的高度 */
    border-radius: 50%; /* 设置图片为圆形 */
    object-fit: cover;  /* 保持图片比例，覆盖整个容器 */
    vertical-align: middle; /* 垂直居中 */
}

.layui-card-right {
    flex: 1; /* 右侧内容占据剩余空间 */
    display: flex; /* 内部也使用Flexbox布局 */
    flex-direction: column; /* 子元素垂直排列 */
    width: 70%;
}
.layui-card-header {
    color: #fff !important;
    font-weight: bold;
    padding: 0 5px;
    width: 88%;
    font-size: 12px;
    white-space: nowrap; /* 强制文本在一行显示 */
    overflow: hidden;     /* 溢出部分隐藏 */
    text-overflow: ellipsis; /* 显示省略号 */
}
.layui-card-body {
    font-size: 12px;
    color: #a6aeb6 !important;
    padding: 5px;
    white-space: nowrap; /* 强制文本在一行显示 */
    overflow: hidden;     /* 溢出部分隐藏 */
    text-overflow: ellipsis; /* 显示省略号 */
}
.layui-nav-a {
    margin-left: 15px;
}
.layui-layout-admin .layui-footer {
    background-color: #23292e;
    text-align: center;
    left: 0;
}
.main {
    overflow-y: scroll !important;
    padding: 10px;
}
.main .main-site h4 {
    padding: 0 20px;
}
.main .main-site ul {
    padding: 0 20px;
}