<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Layui 导航网站示例</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/resource/layui/css/layui.css" rel="stylesheet">
    <link href="/resource/nav/css/style.css" rel="stylesheet">
</head>
<body>
<!--左侧栏-->
<div class="nav">
    <div class="nav-title">个人导航</div>
    <div class="nav-tree">
        <ul class="layui-nav layui-nav-tree">
            <li class="layui-nav-item"><a href="javascript:;">个人站点</a></li>
            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;">默认展开</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">选项1</a></dd>
                    <dd><a href="javascript:;">选项2</a></dd>
                    <dd><a href="javascript:;">选项3</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">默认收缩</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">选项1</a></dd>
                    <dd><a href="javascript:;">选项2</a></dd>
                    <dd><a href="javascript:;">选项3</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="javascript:;">菜单2</a></li>
            <li class="layui-nav-item"><a href="javascript:;">菜单3</a></li>
        </ul>
    </div>
</div>

<!--右侧主体-->
<div class="main">
    <div class="main-banner"></div>
    <div class="main-search"></div>
    <div class="main-site">
        <div class="layui-tab layui-tab-brief">
            <h4>选项卡1</h4>
            <ul class="layui-tab-title">
                <li class="layui-this">标签1</li>
                <li>标签2</li>
                <li>标签3</li>
                <li>标签4</li>
                <li>标签5</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">内容-1</div>
                <div class="layui-tab-item">内容-2</div>
                <div class="layui-tab-item">内容-3</div>
                <div class="layui-tab-item">内容-4</div>
                <div class="layui-tab-item">内容-5</div>
            </div>
        </div>

        <div class="layui-tab layui-tab-brief">
            <h4>选项卡2</h4>
            <ul class="layui-tab-title">
                <li class="layui-this">标签1</li>
                <li>标签2</li>
                <li>标签3</li>
                <li>标签4</li>
                <li>标签5</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">内容-1</div>
                <div class="layui-tab-item">内容-2</div>
                <div class="layui-tab-item">内容-3</div>
                <div class="layui-tab-item">内容-4</div>
                <div class="layui-tab-item">内容-5</div>
            </div>
        </div>
    </div>
    <div class="main-footer"></div>
</div>
<script src="/resource/layui/layui.js"></script>
<script>
    layui.use(function(){
        var element = layui.element;
        element.render('nav');
    });
</script>
</body>
</html>