<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <title>拾贝</title>
    <meta name=keywords content="拾贝">
    <meta name=description content="拾贝">
    <meta charset="utf-8"/>
    <meta http-equiv="content-language" content="zh-cn"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet prefetch' href='/resource/index/css/family.css'>
    <link rel='stylesheet prefetch' href='/resource/index/css/font-awesome.css'>
    <link rel="stylesheet" href="/resource/index/css/style.css">
    <link rel="stylesheet" href="/resource/common/css/custom.css" media="all">

    <link rel="icon" href="/resource/index/images/favicon.ico">
    <link rel="shortcut icon" href="/resource/index/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/resource/index/css/style1.css">
    <link rel="stylesheet" href="/resource/nav/lib/layui-v2.6.3/css/layui.css" media="all">
    <!--51统计-->
    <script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script>
    <script>LA.init({id: "3ImDE9TXtn01PtNp", ck: "3ImDE9TXtn01PtNp"})</script>
    <!--51监控-->
    <script src="https://sdk.51.la/perf/js-sdk-perf.min.js" crossorigin="anonymous"></script>
    <script>
        new LingQue.Monitor().init({id: "3ImEFCM6HzsTfuiS"});
    </script>

</head>

<body>

<div class='solar-syst'>
    <div class='sun'></div>
    <div class='mercury'></div>
    <div class='venus'></div>
    <div class='earth'></div>
    <div class='mars'></div>
    <div class='jupiter'></div>
    <div class='saturn'></div>
    <div class='uranus'></div>
    <div class='neptune'></div>
    <div class='pluto'></div>
    <div class='asteroids-belt'></div>
</div>

<div class="content">
    <div class="site-header">
        <div class="title">拾贝</div>
        <hr class="hr"/>
        <div class="discription"></div>
        <hr class="hr">
    </div>

    <div class="site-content layui-row">
        <div class="site-content-nav">
            <div class="layui-panel layui-col-xs5 layui-col-sm3 layui-col-md2 layui-col-lg1">
                <a target="_blank" href="https://chat.lxshuai.top/">
                    <div>chatGPT</div>
                </a>
            </div>
            <div class="layui-panel layui-col-xs5 layui-col-sm3 layui-col-md2 layui-col-lg1">
                <a target="_blank" href="/nav">
                    <div>导航</div>
                </a>
            </div>
            <div class="layui-panel layui-col-xs5 layui-col-sm3 layui-col-md2 layui-col-lg1">
                <a target="_blank" href="https://www.lxshuai.top/">
                    <div>博客</div>
                </a>
            </div>
            <div class="layui-panel layui-col-xs5 layui-col-sm3 layui-col-md2 layui-col-lg1">
                <a target="_blank" href="https://pic.lxshuai.top/">
                    <div>图床</div>
                </a>
            </div>
            <div class="layui-panel layui-col-xs5 layui-col-sm3 layui-col-md2 layui-col-lg1">
                <a target="_blank" href="https://listen.lxshuai.top/">
                    <div>站点监测</div>
                </a>
            </div>
            <div class="layui-panel layui-col-xs5 layui-col-sm3 layui-col-md2 layui-col-lg1">
                <a target="_blank" href="/apidoc">
                    <div>api管理</div>
                </a>
            </div>
        </div>
    </div>

    <div class="site-footer">
        <div class="icp">
            <a href="http://www.beian.miit.gov.cn" class="icpnum" target="_blank" rel="nofollow">冀ICP备2024067055号</a>
        </div>
    </div>
</div>
<div class="landscape"></div>
<div class="filter"></div>
<canvas id="canvas"></canvas>
<script type="text/javascript" src="/resource/index/js/sky.js"></script>
<script src="/resource/nav/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script src="/resource/common/js/cursor.js" charset="utf-8"></script>
<!--umami流量统计-->
<!--<script defer src="https://cloud.umami.is/script.js" data-website-id="2a9665de-092a-4155-a178-3a406591caac"></script>-->
<script>
    // 百度统计
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?70c9e05d88a0621c952e4a7ca9fe634f";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
    if (/*@cc_on!@*/ false || (!!window.MSInputMethodContext && !!document.documentMode))
        window.location.href =
            'https://support.dmeng.net/upgrade-your-browser.html?referrer=' +
            encodeURIComponent(window.location.href);


    // 随机一句话，打字机效果
    var texts = [
        "生命如火，燃烧不息；心灵如潮，折腾不止。",
        "时间是一笔贷款，我们永远无法偿还。",
        "梦想是现实的先导。",
        "人生就像一场马拉松，不在乎速度，而在乎坚持。",
        "每一个不曾起舞的日子，都是对生命的辜负。",
        "只有那些勇敢追求梦想的人，才能到达成功的彼岸。",
        "不经历风雨，怎么见彩虹。",
        "生活不是等待风暴过去，而是学会在雨中跳舞。",
        "世上无难事，只怕有心人。",
        "梦想，是心灵的翅膀，带着我们飞向未知的远方。",
        "人生没有彩排，每一天都是现场直播。",
        "时间是最好的老师，但遗憾的是，它最终会杀死所有的学生。",
        "不要等待机会，而要创造机会。",
        "人生最大的错误是不断担心会犯错。",
        "成功是一种观念，它始于内心的信仰。",
        "生活就像海洋，只有意志坚强的人，才能到达彼岸。",
        "勇敢是恐惧之后的选择。",
        "知识改变命运，学习成就未来。",
        "人生最重要的不是所站的位置，而是所朝的方向。",
        "乐观是一种力量，它能够让不可能变为可能。",
        "人生如逆旅，我亦是行人。",
        "只有那些敢于面对困难的人，才能最终战胜困难。",
        "信念是成功的起点，坚持是成功的终点。",
        "生活不是要超越别人，而是要超越自己。"
    ];
    var index = 0;
    var currentTextIndex = 0; // 当前文本索引
    var speed = 200; // 打字速度，数值越小，速度越快
    var delay = 1500; // 等待时间，1000毫秒 = 1秒

    function typeWriter() {
        if (index < texts[currentTextIndex].length) {
            document.querySelector('.discription').innerHTML += texts[currentTextIndex].charAt(index);
            index++;
            setTimeout(typeWriter, speed);
        } else {
            // 当当前文本完全显示后，等待1秒，然后重置index并清空内容，开始下一次循环
            setTimeout(function () {
                index = 0;
                document.querySelector('.discription').innerHTML = '';
                currentTextIndex = Math.floor(Math.random() * texts.length); // 随机选择一个文本
                typeWriter(); // 重新开始循环
            }, delay);
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        // 页面加载完成后，随机选择一个文本并开始打字效果
        currentTextIndex = Math.floor(Math.random() * texts.length);
        typeWriter();
    });
</script>

</body>

</html>
